[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/Rari-Capital/solmate
[submodule "lib/morpho-data-structures"]
	path = lib/morpho-data-structures
	url = https://github.com/morpho-dao/morpho-data-structures
	branch = morpho-v1
[submodule "lib/morpho-utils"]
	path = lib/morpho-utils
	url = https://github.com/morpho-dao/morpho-utils
