[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/morpho-labs/ds-test
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/brockelmore/forge-std
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/Rari-Capital/solmate
[submodule "lib/data-structures"]
	path = lib/data-structures
	url = https://github.com/morpho-labs/data-structures
	branch = feat/heap-ordering
