name: Storage layout checks

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    paths:
      - lib/**
      - contracts/common/**
      - contracts/aave-v2/**
      - "*.lock"
      - remappings.txt
      - .github/workflows/ci-storage-check-aave-v2.yml

jobs:
  morpho-aave-v2:
    name: morpho-aave-v2
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: yarn

      - name: Install dependencies
        run: yarn install --frozen-lockfile
        shell: bash

      - name: Install Foundry
        uses: onbjerg/foundry-toolchain@v1
        with:
          version: nightly

      - name: Check Morpho storage layout
        uses: Rubilmax/foundry-storage-check@v2
        with:
          contract: contracts/aave-v2/Morpho.sol:Morpho

      - name: Check RewardsManager storage layout
        uses: Rubilmax/foundry-storage-check@v2
        with:
          contract: contracts/aave-v2/RewardsManager.sol:RewardsManager
