name: Storage layout checks

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    paths:
      - lib/**
      - src/common/**
      - src/compound/**
      - "*.lock"
      - remappings.txt
      - .github/workflows/ci-storage-check-compound.yml
  workflow_dispatch:

jobs:
  morpho-compound:
    name: morpho-compound
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: yarn

      - name: Install dependencies
        run: yarn install --frozen-lockfile
        shell: bash

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1

      - name: Check Lens storage layout
        uses: Rubilmax/foundry-storage-check@v3
        with:
          contract: src/compound/lens/Lens.sol:Lens

      - name: Check Morpho storage layout
        uses: Rubilmax/foundry-storage-check@v3
        with:
          contract: src/compound/Morpho.sol:Morpho

      - name: Check RewardsManager storage layout
        uses: Rubilmax/foundry-storage-check@v3
        with:
          contract: src/compound/RewardsManager.sol:RewardsManager
